body{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.row, .tr *{
    height: max-content;
    vertical-align: middle;
}
.row *{
    vertical-align: middle;
}
.table{
    overflow-x: auto;
    white-space: nowrap;
}
