.form-signin {
    max-width: 480px;
    padding: 15px 35px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

@media  only screen and (min-width: 992px) {

    .form-control {
        position: relative;
        height: auto;
        padding: 10px;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        margin: 0;
        font-size: 12px;
    }
}

button.btn {
    margin-bottom: 20px;
}



p{
    margin: 6px 0!important;
    color: red;
    line-height: 22px;
    min-height: 22px;
}

label input{
    display: inline-block!important;
}