{#<nav>
    <ul>
        <li><a href="admincatalog"><img src="images/folder2-open.svg">Wyszukiwarka</a></li>
        <li><a href="adminusers"><img src="images/people.svg">Użytkownicy</a></li>
        <li><a href="userpanel"><img src="images/person-fill.svg">Konto użytkownika</a></li>
        <li><a href="logout"><img src="images/x-circle.svg">Wyloguj</a></li>
    </ul>
</nav>#}
