{#<nav>#}
{#    <ul>#}
{#        <li><a href="usercatalog"><img src="images/folder2-open.svg">Kategorie</a></li>#}
{#        <li><a href="searchbase"><img src="images/people.svg">Przeszukiwanie bazy</a></li>#}
{#        <li><a href="userpanel"><img src="images/person-fill.svg">Konto użytkownika</a></li>#}
{#        <li><a href="logout"><img src="images/x-circle.svg">Wyloguj</a></li>#}
{#    </ul>#}
{#</nav>#}


<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            {%  if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admincatalog') }}" class="nav-item">
                <img src="/images/folder2-open.svg">
                <span class="d-none d-sm-inline-block">Baza</span>
            </a>
            <a href="{{ path('adminusers') }}" class="nav-item">
                <img src="/images/cart2.svg">
                <span class="d-none d-sm-inline-block">Użytkownicy</span>
            </a>
            {% elseif is_granted('ROLE_USER') %}
            <a href="/usercatalog" class="nav-item">
                <img src="/images/folder2-open.svg">
                <span class="d-none d-sm-inline-block">Kategorie</span>
            </a>
            <a href="/searchbase" class="nav-item">
                <img src="/images/cart2.svg">
                <span class="d-none d-sm-inline-block">Przeszukiwanie bazy</span>
            </a>
            {% endif %}
            <a href="/userpanel" class="nav-item">
                <img src="/images/person-fill.svg">
                <span class="d-none d-sm-inline-block">Konto użytkownika</span>
            </a>
            <a href="/logout" id="logout">
                <img src="/images/x-circle.svg">
                <span class="d-none d-sm-inline-block">Wyloguj</span>
            </a>
        </div>
    </nav>
</div>