{% extends 'base.html.twig' %}
{% block title %}Użytkownicy{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style-adminusers.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/common.css') }}">
{% endblock %}
{%  block javascripts %}
    <script src="{{ asset('js/adminUsers.js') }}" defer></script>
{% endblock %}

{% block body %}
{{ include('common/navigation.html.twig') }}
<section class="container-fluid">
    <p class="text-center">Dodaj nowego użytkownika</p>
    <div class="row">
        <div class="col-xxl-1 visible-xxl"></div>
        <div class="col-xs-12 col-lg-9 col-xxl-7">
                <table id="new" class="table table-responsive table-striped">
                    <tr>
                        <td>email</td>
                        <td><input class="form-control" type="email" name="email"></td>
                    </tr>
                    <tr>
                        <td>imię</td>
                        <td><input class="form-control" type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td>nazwisko</td>
                        <td><input class="form-control" type="text" name="surname"></td>
                    </tr>
                    <tr>
                        <td>hasło startowe</td>
                        <td><input class="form-control" type="password" name="pass"></td>
                    </tr>
                    <tr>
                        <td>typ użytkownika</td>
                        <td>
                            <label>admin <input type="radio" name="role" value="ROLE_ADMIN"></label>
                            <label>user <input checked type="radio" name="role" value="ROLE_USER"></label>
                            <label>wył <input type="radio" name="role" value="ROLE_OFF"></label>
                        </td>
                    </tr>
                </table>
        </div>

        <div class="col-xs-12 col-lg-3 col-xxl-2">
            <button id="add" class="btn btn-outline-success w-100">dodaj do bazy</button>
        </div>
        <div class="col-xxl-1 visible-xxl"></div>
    </div>
    <p class="text-center">Zarządzaj użytkownikami</p>
    <div class="row">
        <div class="col-xxl-1 visible-xxl"></div>
        <div class="col-xs-12 col-xxl-10">
            <table class="table table-responsive table-striped ">
                <thead>
                <tr>
                    <th style="min-width: 21em">email</th>
                    <th style="min-width: 5em">imię</th>
                    <th style="min-width: 7em">nazwisko</th>
                    <th style="min-width: 13em">typ konta</th>
                    <th style="min-width: 11em"></th>
                </tr>
                </thead>
                <tbody id="itemsContainer" >
                {% for i in list %}
                <tr>
                    <td><input type="email" class="form-control" name="email" value="{{ i.email }}"></td>
                    <td><input type="text" class="form-control" name="name" value="{{ i.userDetails.name }}"></td>
                    <td><input type="text" class="form-control" name="surname" value="{{ i.userDetails.surname }}"></td>
                    <td class="text-center">
                        <label>admin <input type="radio" name="f{{ i.id }}" value="ROLE_ADMIN" {{ i.userType.name == 'ROLE_ADMIN' ? 'checked' }}></label>
                        <label>user <input type="radio" name="f{{ i.id }}" value="ROLE_USER"  {{ i.userType.name == 'ROLE_USER' ? 'checked' }}></label>
                        <label>wył <input type="radio" name="f{{ i.id }}" value="ROLE_OFF" {{ i.userType.name == 'ROLE_OFF' ? 'checked' }}></label>
                    </td>
                    <td class="text-center">
                        <button class="save btn btn-outline-success" value="{{ i.id }}">zapisz</button>
                        <button class="delete btn btn-outline-danger" value="{{ i.id }}">usuń</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xxl-1 visible-xxl"></div>
    </div>
</section>
{% endblock %}

{% block templates %}

    <template id="items-template">
        <tr>
            <td><input type="email" class="form-control" name="email" value=""></td>
            <td><input type="text" class="form-control" name="name" value=""></td>
            <td><input type="text" class="form-control" name="surname" value=""></td>
            <td class="text-center">
                <label>admin <input type="radio" name=""></label>
                <label>user <input type="radio" name=""></label>
                <label>wył <input type="radio" name=""></label>
            </td>
            <td class="text-center">
                <button class="save btn btn-outline-success" value="">zapisz</button>
                <button class="delete btn btn-outline-danger" value="">usuń</button>
            </td>
        </tr>
    </template>
{% endblock %}