{% extends 'base.html.twig' %}
{% block title %}Użytkownicy{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/common.css') }}">
{% endblock %}
{%  block javascripts %}
    <script src="{{ asset('js/adminItems.js') }}" defer></script>
{% endblock %}
{% block body %}
    {{ include('common/navigation.html.twig') }}
<section class="container-fluid">
    <input type="hidden" value="{{ category.id }}">
    <div class="row"><p class=" text-center">Edycja rzeczy w kategorii</p></div>
    <input class="form-control" type="text" id="category-name" value="{{ category.name }}">
    <button class="btn btn-outline-success rename-category"><img src="">zmień nazwę</button>
    <button class="btn btn-outline-danger float-end delete-category"><img src="">usuń kategorię</button>
    <div class="row">
        <div class="col-xxl-2  col-lg-1 visible-xxl"></div>
        <div class="col-xs-12 col-lg-10 col-xxl-8">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th style="min-width: 14em">Nazwa</th>
                        <th style="min-width: 8em">wartość</th>
                        <th>zapisz</th>
                        <th>usuń</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="4">Utwórz nowy przedmiot</td></tr>
                    <tr>
                        <td><input name="name" class="form-control" type="text" placeholder="(nowy)" id="name-new"></td>
                        <td><input name="value" class="form-control" type="number" id="value-new"></td>
                        <td colspan="2"><button class="btn btn-outline-success add-item"><img src="">dodaj</button></td>
                    </tr>
                    <tr><td colspan="4">Modyfikuj istniejące przedmioty</td></tr>
                    {% for i in category.adminItems %}
                    <tr>
                        <td><input name="name" class="form-control" type="text" value="{{ i.name }}"></td>
                        <td><input name="value" class="form-control" type="number" value="{{ (0.01*i.value)|number_format(2,'.','') }}"></td>
                        <td><button class="btn btn-outline-success update-item" value="{{ i.id }}"><img src="">zapisz</button></td>
                        <td><button class="btn btn-outline-danger delete-item" value="{{ i.id }}"><img src="">usuń</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>

        </div>
        <div class="col-xxl-1 visible-xxl"></div>
    </div>
</section>
{% endblock %}
{% block templates %}
    <template id="item-template">
        <tr>
            <td><input name="name"  class="form-control" type="text"></td>
            <td><input name="value"  class="form-control" type="number"></td>
            <td><button class="btn btn-outline-success update-item">zapisz</button></td>
            <td><button class="btn btn-outline-danger delete-item">usuń</button></td>
        </tr>
    </template>

{% endblock %}
