{% extends 'base.html.twig' %}
{% block title %}Użytkownicy{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/common.css') }}">
{% endblock %}
{%  block javascripts %}
    <script src="{{ asset('js/adminCategory.js') }}" defer></script>
{% endblock %}
{% block body %}
{{ include('common/navigation.html.twig') }}
<section class="container-fluid">
    <div class="row"><p class=" text-center">Przegląd kategorii z publicznej bazy</p></div>
    <div class="row">
        <div class="col-xxl-1 visible-xxl"></div>
        <div class="col-xs-12 col-lg-6 col-xxl-5">
            <form id="form-add" action="#">
                <table class="table table-responsive table-striped">
                    <tr>
                        <td>Nazwa nowej kategorii</td>
                        <td><input class="form-control" name="category" type="text"></td>
                    </tr>
                    <tr>
                        <td>Nazwa pierwszego przedmiotu</td>
                        <td><input class="form-control" name="itemName" type="text"></td>
                    </tr>
                    <tr>
                        <td>Wartość</td>
                        <td><input class="form-control" name="value" type="number"></td>
                    </tr>
                </table>
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="categories">
                {% for i in catalogs %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td><button class="btn btn-outline-dark category-display" data-url="{{ i.id }}">wybierz</button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-lg-6 col-xxl-5">
            <button id="add-record" class="m-auto btn btn-outline-primary">Dodaj kategorię z przedmiotem</button>
            <a class="m-auto btn btn-outline-primary" id="edit-link">edytuj przedmioty w tej kategorii</a>
            <p id="name"></p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Wartość</th>
                </tr>
                </thead>
                <tbody id="items">
                </tbody>
            </table>
        </div>
        <div class="col-xxl-1 visible-xxl"></div>
    </div>

</section>
{% endblock %}
{% block templates %}
    <template id="category-template">
        <tr>
            <td></td>
            <td><button class="btn btn-outline-dark">wybierz</button></td>
        </tr>
    </template>

<template id="item-template">
    <tr>
        <td></td>
        <td></td>
    </tr>
</template>
{% endblock %}
