{% extends 'base.html.twig' %}
{% block title %}Użytkownicy{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/style-register.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
{% endblock %}
{%  block javascripts %}
    <script src="{{ asset('js/loggedOut.js') }}" defer></script>
{% endblock %}
{% block body %}
    <div class="wrapper">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Adres e-mail',
             'name' : 'email', 'value' : last_username}}) }}
        {{ form_row(form.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Hasło',
             'name' : 'plainPassword'}}) }}
        <p class="alert">{{ error }}</p>
        {{ form_row(form.submit, {'attr': {'class': 'btn w-100 btn-lg btn-primary btn-block', 'style': ''} }) }}
        {{ form_end(form) }}
            <a href="register" class="btn w-100 btn-lg btn-outline-primary btn-block">Lub przejdź do rejestracji</a>
    </div>
{% endblock %}