{% extends 'base.html.twig' %}
{% block title %}Rejestracja{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/style-register.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
{% endblock %}
{%  block javascripts %}
    <script src="{{ asset('js/loggedOut.js') }}" defer></script>
{% endblock %}
{% block body %}
<div class="wrapper">
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.email, { 'label': 'Adres email',
        'attr': {'class': 'form-control', 'placeholder': 'Adres e-mail', 'style': ''}}) }}
    {{ form_row(form.plainPassword, { 'label': 'Hasło',
        'attr': {'class': 'form-control', 'placeholder': 'Hasło', 'style': ''}}) }}
    {{ form_row(form.name, { 'label': 'Imię',
        'attr': {'class': 'form-control', 'placeholder': 'Imię', 'style': ''}}) }}
    {{ form_row(form.surname, { 'label': 'Nazwisko',
        'attr': {'class': 'form-control', 'placeholder': 'Nazwisko', 'style': ''}}) }}
    <p class="alert">{{ error }}</p>
    {{ form_row(form.submit, { 'label': 'Zarejestruj konto',
        'attr': {'class': 'btn w-100 btn-lg btn-primary btn-block', 'placeholder': 'Nazwisko', 'style': ''} }) }}
    {{ form_end(form) }}
    <a href="login" class="btn w-100 btn-lg btn-outline-primary btn-block">Lub przejdź do logowania</a>
</div>
{% endblock %}
