{% extends 'base.html.twig' %}
{% block title %}Użytkownicy{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
{% endblock %}
{%  block javascripts %}
    <script src="{{ asset('js/searchbase.js') }}" defer></script>
{% endblock %}
{% block body %}
{{ include('common/navigation.html.twig') }}
<section class="container-fluid">
    <div class="row">
        <div class="col-xxl-1 visible-xxl"></div>
        <div class="col-12 col-lg-6 col-xxl-5">
            <p class=" text-center">Wybierz kategorię</p>
            <table class="table table-responsive-sm">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>ilość pozycji</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for cat in categories %}
                <tr>
                    <td>{{ cat.catName }}</td>
                    <td>{{ cat.totalRecords }}</td>
                    <td><button class="btn btn-outline-primary category-display" value="{{ cat.catId }}">wyświetl</button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-12 col-lg-6 col-xxl-5">
            <p id="name">Wybrana kategoria: </p>
            <p id="chosen-item"></p>
            <table class="table table-responsive-sm">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>wartość</th>
                    <th>do schowka</th>
                    <th>przypisz</th>
                </tr>
                </thead>
                <tbody id="items">
                </tbody>
            </table>
        </div>

        <div class="col-xxl-1 visible-xxl"></div>
    </div>
</section>
{% endblock %}
{% block templates %}
<template id="item-template">
    <tr>
        <td></td>
        <td></td>
        <td><button>do schowka</button></td>
        <td><button>przypisz</button></td>
    </tr>
</template>
{% endblock %}
