{% extends 'base.html.twig' %}
{% block title %}Użytkownicy{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/useritems.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/common.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/userItems.js') }}" defer></script>
{% endblock %}
{% block body %}
    {{ include('common/navigation.html.twig') }}
        <section class="container-fluid">
            <div class="row">
                <input type="hidden" value="{{ category.id }}" id="categoryId">
                <p class="text-center" id="categoryName" data-name="{{ category.name }}">Edycja przedmiotów w kategorii: <b>{{ category.name }}</b></p>
            </div>
            <div class="row">
                    <div class="container-fluid co2" id="container">
                        <div class="row d-none d-lg-flex fw-bold">
                            <div class="col-sm-3">
                                <div class="text-center">Nazwa</div>
                            </div>
                            <div class="col-sm-2">
                                <div class="text-center">ilość</div>
                            </div>
                            <div class="col-sm-2">
                                <div class="text-center">wartość 1szt</div>
                            </div>
                            <div class="col-sm-3">
                                <div class="text-start">akcja / autoaktualizacja wartości</div>
                            </div>
                            <div class="col-sm-2">
                                <div class="text-end">Przypisz ze schowka/z bazy</div>
                            </div>
                        </div>



                        <div class="row record" data-id="">
                            <input name="adminItem" type="hidden" value="">
                            <div class="col-xs-12 d-lg-none">nazwa</div>
                            <div class="col-lg-3 col-xs-12"><input type="text" name="name" class="form-control" value=""></div>
                            <div class="col-xs-12 d-lg-none">ilość</div>
                            <div class="col-lg-2 col-xs-12"><input type="number" name="amount" class="form-control" value=""></div>
                            <div class="col-xs-12 d-lg-none">wartość</div>
                            <div class="col-lg-2 col-xs-12"><input type="number" name="valuePerOne" class="form-control" value=""></div>
                            <div class="col-xs-12 d-lg-none">autoaktualizacja wartości (ze schowka)</div>
                            <div class="text-start col-lg-2 col-xs-12">
                                <button class="add-item btn btn-outline-secondary d-none d-lg-inline" value="">utwórz</button>
                                <input type="checkbox" name="autoupdatable">
                                <button class="savecookies btn d-lg-none" value=""><img src="/images/clipboard-check.svg"></button>
                            </div>
                            <div class="text-start col-lg-3 col-xs-12">
                                <button class="savecookies btn d-none d-lg-inline" value=""><img src="/images/clipboard-check.svg"></button>
                                <div class="d-none d-lg-inline adminItemName"></div>
                            </div>

                            <div class="col-xs-12 d-lg-none adminItemName">Przypisany z bazy: </div>
                            <div class="text-start d-lg-none col-xs-12">
                                <button class="add-item btn btn-success d-lg-none" value="">utwórz</button>
                            </div>
                        </div>


                        {% for i in category.userItems %}
                        <div class="row record" data-id="{{ i.id }}">
                            <input name="adminItem" type="hidden" value="{% if i.adminItem and i.adminItem.id %}{{ i.adminItem.id }}{% endif %}">
                            <div class="col-xs-12 d-lg-none">nazwa</div>
                            <div class="col-lg-3 col-xs-12"><input type="text" name="name" class="form-control" value="{{ i.name }}"></div>
                            <div class="col-xs-12 d-lg-none">ilość</div>
                            <div class="col-lg-2 col-xs-12"><input type="number" name="amount" class="form-control" value="{{ i.amount }}"></div>
                            <div class="col-xs-12 d-lg-none">wartość</div>
                            <div class="col-lg-2 col-xs-12"><input type="number" name="valuePerOne" class="form-control" value="{{ (0.01*i.valuePerOne)|number_format(2,'.','') }}"></div>
                            <div class="col-xs-12 d-lg-none">autoaktualizacja wartości (ze schowka / wyszukaj)</div>
                            <div class="text-start col-lg-2 col-xs-12">
                                <button class="save btn btn-outline-secondary d-none d-lg-inline" value="{{ i.id }}">zapisz</button>
                                <button class="delete btn btn-outline-secondary d-none d-lg-inline" value="{{ i.id }}">usuń</button>
                                <input type="checkbox" name="autoupdatable" {% if i.autoupdatable %}checked{% endif %}>
                                <button class="savecookies btn d-lg-none" value="{{ i.id }}"><img src="/images/clipboard-check.svg"></button>
                                <button class="searchInBase btn d-lg-none" value="{{ i.id }}"><img src="/images/folder2-open.svg"></button>
                            </div>
                            <div class="text-start col-lg-3 col-xs-12">
                                <button class="savecookies btn d-none d-lg-inline" value="{{ i.id }}"><img src="/images/clipboard-check.svg"></button>
                                <button class="searchInBase btn d-none d-lg-inline" value="{{ i.id }}"><img src="/images/folder2-open.svg"></button>
                                <div class="d-none d-lg-inline adminItemName">{% if i.adminItem and i.adminItem.name %}{{ i.adminItem.name }}{% endif %}</div>
                            </div>

                            <div class="col-xs-12 d-lg-none adminItemName">Przypisany z bazy: {% if i.adminItem and i.adminItem.name %}{{ i.adminItem.name }}{% endif %}</div>
                            <div class="text-start d-lg-none col-xs-12">
                                <button class="save btn btn-success d-lg-none" value="{{ i.id }}">zapisz</button>
                                <button class="delete btn btn-danger d-lg-none float-end" value="{{ i.id }}">usuń</button>
                            </div>
                        </div>
                        {% endfor %}

                </div>
            </div>
        </section>
{%  endblock %}
{% block templates %}
    <template id="item-template">
                        <div class="row record" data-id="">
                            <input name="adminItem" type="hidden" value="">
                            <div class="col-xs-12 d-lg-none">nazwa</div>
                            <div class="col-lg-3 col-xs-12"><input type="text" name="name" class="form-control" value=""></div>
                            <div class="col-xs-12 d-lg-none">ilość</div>
                            <div class="col-lg-2 col-xs-12"><input type="number" name="amount" class="form-control" value=""></div>
                            <div class="col-xs-12 d-lg-none">wartość</div>
                            <div class="col-lg-2 col-xs-12"><input type="number" name="valuePerOne" class="form-control" value=""></div>
                            <div class="col-xs-12 d-lg-none">autoaktualizacja wartości (ze schowka / wyszukaj)</div>
                            <div class="text-start col-lg-2 col-xs-12">
                                <button class="save btn btn-outline-secondary d-none d-lg-inline" value="">zapisz</button>
                                <button class="delete btn btn-outline-secondary d-none d-lg-inline" value="">usuń</button>
                                <input type="checkbox" name="autoupdatable">
                                <button class="savecookies btn d-lg-none" value=""><img src="/images/clipboard-check.svg"></button>
                                <button class="searchInBase btn d-lg-none" value=""><img src="/images/folder2-open.svg"></button>
                            </div>
                            <div class="text-start col-lg-3 col-xs-12">
                                <button class="savecookies btn d-none d-lg-inline" value=""><img src="/images/clipboard-check.svg"></button>
                                <button class="searchInBase btn d-none d-lg-inline" value=""><img src="/images/folder2-open.svg"></button>
                                <div class="d-none d-lg-inline adminItemName"></div>
                            </div>

                            <div class="col-xs-12 d-lg-none adminItemName">Przypisany z bazy: </div>
                            <div class="text-start d-lg-none col-xs-12">
                                <button class="save btn btn-success d-lg-none" value="">zapisz</button>
                                <button class="delete btn btn-danger d-lg-none float-end" value="">usuń</button>
                            </div>
                        </div>
    </template>
{% endblock %}
