{% extends 'base.html.twig' %}
{% block title %}Użytkownicy{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/common.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/userPanel.js') }}" defer></script>
{% endblock %}
{% block body %}
    {{ include('/common/navigation-admin.html.twig') }}
    {{ include('/common/navigation.html.twig') }}
        <section class="container-fluid">
            <div class="row">
                <div class="col-lg-1 visible-lg"></div>
                <div class="col-xs-12 col-lg-10">
                    <table class="table table-responsive table-striped">
                        <tr>
                            <td>Zarejestrowany mail:</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>imię</td>
                            <td><input id="name" class="form-control" type="text" value="{{ user.userDetails.name }}"></td>
                        </tr>
                        <tr>
                            <td>nazwisko</td>
                            <td><input id="surname" class="form-control" type="text" value="{{ user.userDetails.surname }}"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <button id="changeDetails" class="w-50 m-auto btn btn-outline-success">zmień dane</button>
            </div>
            <div class="row">
                <div class="col-lg-1 visible-lg"></div>
                <div class="col-xs-12 col-lg-10">
                    <table class="table table-responsive table-striped">
                        <tr>
                            <td>Stare hasło:</td>
                            <td><input id="oldPassword" class="form-control" type="password"></td>
                        </tr>
                        <tr>
                            <td>Nowe hasło:</td>
                            <td><input id="newPassword" class="form-control" type="password"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <button id="changePassword" class="w-50 m-auto btn btn-outline-success">zmień hasło</button>
            </div>

        </section>
{%  endblock %}
