{% extends 'base.html.twig' %}
{% block title %}Użytkownicy{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/common.css') }}">
{% endblock %}
{%  block javascripts %}
    <script src="{{ asset('js/userCategory.js') }}" defer></script>
{% endblock %}
{% block body %}
    {{ include('common/navigation.html.twig') }}
        <section class="container-fluid">
            <div class="row"><p class=" text-center">Twoje kategorie</p></div>
            <div class="row">
                <div class="col-xxl-1 visible-xxl"></div>
                <div id="left" class="col-12 col-lg-6 col-xxl-5">
                    <p>Utwórz kategorię</p>
                    <input type="text" name="name">
                    <button id="addRecord"><img src="save2.svg">utwórz</button>
                    <p>Wybierz kategorię:</p>

                    <table class="w-100">
                        <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>pozycje</th>
                            <th>sztuki</th>
                            <th>wartość całkowita</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="categories">
                        {% for category in categoriesList %}
                        <tr>
                            <td>{{ category.catName }}</td>
                            <td>{{ category.totalRecords }}</td>
                            <td>{{ category.totalAmount }}</td>
                            <td>{{ (0.01*category.totalValue)|number_format(2,'.','') }}</td>
                            <td><button value="{{ category.catId }}" class="btn category-display"><img src="folder2-open.svg">wybierz</button></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>




                </div>
                <div id="right" class="col-xs-12 col-lg-6 col-xxl-5">
                    <p>Zmień nazwę kategorii</p>
                    <div>
                        <input id="name" type="text" value="">
                    </div>
                    <div>
                        <button disabled id="rename"><img src="save2.svg">zastosuj</button>
                        <button disabled id="delete" class="btn btn-outline-danger">Usuń kategorię</button>
                    </div>
                    <a id="edit-link" class="btn btn-outline-primary" href="#"><img src="">Edytuj przedmioty w tej kategorii</a>

                    <table class="w-100">
                        <thead>
                        <tr>
                            <th style="min-width: 10em">Nazwa</th>
                            <th style="min-width: 5em">Ilość</th>
                            <th style="min-width: 5em">wartość 1szt</th>
                            <th style="min-width: 5em">wartość całk.</th>
                        </tr>
                        </thead>
                        <tbody id="items">
                        </tbody>
                    </table>
                </div>

            </div>
        </section>

{% endblock  %}

{% block templates %}
<template id="category-template">
    <tr>
        <td>nazwa</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td><button class="btn category-display"><img src="folder2-open.svg">wybierz</button></td>
    </tr>
</template>
    <template id="items-template">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </template>
{% endblock %}
